<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body ng-app="app">
  <div ng-controller="MyController">
    Diameter: <input type="range" ng-model="user.diameter" ng-change="calcStyle(user)" min="1" max="400" />
    <p>{{user.diameter}}</p>
    <div id="circle" ng-style="style(user)"></div>
  </div>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
  <script src="./angular.js"></script>
  <link href="angular.css" rel="stylesheet" type="text/css">
</body>
</html>
